*{
    /* box-sizing: border-box; */
    margin: 0;
    font-family: "Square Sans Text VF","Square Sans Text",Arial,sans-serif;
}

body{
    margin: 9% 4%;
}

.card-payment-form, .ach-payment-form{
    padding: 20px;
    /* border: 2px solid #F4F4F4; */
    /* background-color: #F4F4F4; */
}

.card-payment-form h3{
    margin-bottom: 20px;
}

fieldset{
    border: none;
    padding:1px;
}

.payment-options input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    margin: 0;

  }

.payment-options label:hover{
    cursor: pointer;
}


.payment-options .pay-logo{
    display: inline-block;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    height: 90px;
    width: 150px;
}
.payment-options img{
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 70px;
    width: 70px;
}
/* input:checked ~ .pay-logo{
    border: 2px solid rgb(25, 0, 255);
} */

/* form{
    width: 50%;
} */
.product-img{
    width: 100px;
    height: 100px;
}

.flex-container{
    display: flex;

}

.hr{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(101, 101, 101, 0.5);
}
.hr:before,
.hr:after {
    content: "";
    flex-grow: 1;
    background: rgba(228, 228, 228, 0.9);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

/* .flex-item-pay-btn{
    margin: 5px;
  } */
.pay-btn-container{
    padding: 30px;
    border: 2px solid #F4F4F4;
    /* background-color: #F4F4F4; */
    justify-content: center;
}

.flex-item-pay-btn{
    margin: 10px;
}
.flex-item-left {
    padding: 10px;
    flex: 70%;
  }
  
.flex-item-right {
    /* padding: 10px; */
    flex: 30%;
    background-color: #EEEEEE;
}

.flex-item-right div{
    /* background-color: red; */
    /* position: relative; */
    /* height: 100px; */
}

.flex-item-right img{
    margin: 10px 5px 10px 10px;
}

.flex-item-right div div{
    display: inline-block;
    /* background-color: green; */
    position: relative;
    top: 85%;
    translate: 0 -85%;
    /* translate: 0 -50%; */
}

#test-button{
    width: 240px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

button{
    width: 240px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

#test-button span{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50% ;
}

#google-pay-button button{
    height: 48px;
}

.ach-payment-form input{
    font-size: 16px;
    border-radius: 5px;
    height: 36px;
    width: 50%;
    border: 2px solid rgb(228, 228, 228);
    padding: 2px 10px;
    margin: 10px 0 10px 0;
}


hr{
    color: rgba(241, 241, 241, 0.5);
    margin: 0px 10px;
}

.product-price{
    font-size: 14px;
    font-weight: 100;
    color: rgba(109, 109, 109, 0.9);
}








/* font-family: "Square Sans Text VF","Square Sans Text",Arial,sans-serif; */
/* font-size: 16px; */
