<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
    <title>Checkout</title>
</head>
<body>
    <!-- <h1>Choose Payment Option</h1> -->
    <!-- <img class="payment-method" id="card" src="/static/images/applePay.png" width="80px" height="80px" alt="">
    <img class="payment-method" id="apple-pay" src="/static/images/applePay.png" width="80px" height="80px" alt="">
    <img class="payment-method" id="google-pay" src="/static/images/applePay.png" width="80px" height="80px" alt="">
    <img class="payment-method" id="bank-transfer" src="/static/images/applePay.png" width="80px" height="80px" alt=""> 

    <label class="container">One
        <input type="radio" checked="checked" name="radio">
    </label> -->

    <!-- <div class="border">
        <input type="radio" name="sex" value="male" id="bank-transfer">
        <label for="bank-transfer"><img src="/static/images/applePay.png" width="80px" height="80px"></label>
    </div> -->

    <!-- <div class="payment-options">
        <label >
            <input type="radio" class="payment-method" name="payment-options" value="card" id="card-pay" checked>
            <div class="pay-logo">
                <img src="https://img.icons8.com/ios-glyphs/90/bank-card-back-side.png">
            </div>
        </label>
        <label >
            <input type="radio" class="payment-method" name="payment-options" value="applePay" id="apple-pay">
            <div class="pay-logo">
                <img src="https://img.icons8.com/fluency-systems-filled/96/apple-pay.png">
            </div>
        </label>
        <label>
            <input type="radio" class="payment-method" name="payment-options" value="googlePay" id="google-pay">
            <div class="pay-logo">
                <img src="https://img.icons8.com/color/96/google-pay.png">
            </div>
        </label>
        <label >
            <input type="radio" class="payment-method" name="payment-options" value="bankTransfer" id="bank-transfer">
            <div class="pay-logo">
                <img src="https://img.icons8.com/external-soft-fill-juicy-fish/60/external-bank-loans-soft-fill-soft-fill-juicy-fish-2.png">
            </div>
        </label>
    </div> -->

    

    <div class="flex-container">
        <div class="flex-item-left">
            <div class="tabs-container">
                <ul class="tabs">
                    <!-- <img src="https://img.icons8.com/ios/50/bank-card-back-side--v1.png" alt=""> -->
                    <li data-tab-target="#card" class="active">Card Payment</li>
                    <li data-tab-target="#bank">Bank Payment</li>
                    <li data-tab-target="#others">Others</li>
                </ul>
            </div>
        
            <div class="tab-payment-options">
                <div id="card" class="tab-content active">
                    <!-- card Payment form-->
                    <form class="card-payment-form" id="payment-form">
                        <h3>Card Payment</h3>
                            <input
                            type="text"
                            autocomplete="card-holder-name"
                            aria-required="true"
                            aria-label="Card Holder Name"
                            required="required"
                            placeholder="Card Holder Name"
                            name="cardHolderName"
                            spellcheck="false"
                            />
                        <div id="card-container"></div>
                        <button id="card-button" type="button">Pay $1.00</button>
                    </form>
                    
                </div>
                <div id="bank" class="tab-content">
                    <!-- Bank Payment form -->
                    <form class="ach-payment-form" id="payment-form">
                            <h3>Bank Payment</h3>
                            <input
                            type="text"
                            autocomplete="given-name"
                            aria-required="true"
                            aria-label="First Name"
                            required="required"
                            placeholder="Given Name"
                            name="givenName"
                            spellcheck="false"
                            />
                    
                            <input
                            type="text"
                            autocomplete="family-name"
                            aria-required="true"
                            aria-label="Last Name"
                            required="required"
                            placeholder="Family Name"
                            name="familyName"
                            spellcheck="false"
                            />
                        <button id="ach-button" type="button">Pay with Bank Account</button>
                    </form>
                </div>
                <div id="others" class="tab-content">
                    <div class="pay-btn-container">
                        <div class= "pay-btn" id="google-pay-button"></div>
                        <div class= "pay-btn" id="test-button"><span>APPLE PAY</span></div>
                        <div class= "pay-btn" id="cash-app-pay"></div>
                        <!-- <div id="apple-pay-button"></div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Summary -->
        <div class="flex-item-right" id="order-total">
            <div>
                <img class="product-img" src="/static/images/speaker.avif" alt="" srcset="">
                <div class="product-summary">
                    <span class="product-desc">Speaker</span><br>
                    <span class="product-price">$20.00</span>
                </div>
            </div>
            <hr>
            
            <hr>
            <div>
                <img class="product-img" src="/static/images/chair.jpg" alt="" srcset=""> 
                <div>
                    <span class="product-desc">Swivel chair</span><br>
                    <span class="product-price">$47.00</span>

                </div>
            </div>
            <hr>
            <div>
                <img class="product-img" src="/static/images/ps5.avif" alt="" srcset=""> 
                <div>
                    <span class="product-desc">PS 5</span><br>
                    <span class="product-price">$200.00</span>

                </div>
            </div>
            <hr>
            <div>
                <img class="product-img" src="/static/images/toaster.avif" alt="" srcset=""> 
                <div>
                    <span class="product-desc">Toster</span><br>
                    <span class="product-price">$15.00</span>

                </div>
            </div>
            <hr>
            <div class="order-total">
                <span class="subtotal">Subtotal - </span>
                <span class="subtotal-price">$282.00</span><br>
                <span class="total">Total - </span>
                <span class="total">$282.00</span>
            </div>
        </div>

    </div>

    <!-- <script src="/static/js/square_client.js"></script> -->
    <script src="{{ url_for('static', filename='js/square_client.js') }}"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</body>
</html>