<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/payment-success.css">
    <title>Document</title>
</head>
<body>
    <div class="order-success">
        <h1>Thank you for your purchase</h1>
        <div class="order-summary">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="product-img" src="/static/images/speaker.avif" alt="" srcset=""></td>
                        <td><span class="product-desc">Speaker</span></td>
                        <td><span class="product-qty">1</span></td>
                        <td><span class="product-price">$20.00</span></td>
                      </tr>
                      <tr>
                        <td><img class="product-img" src="/static/images/ps5.avif" alt="" srcset=""></td>
                        <td><span class="product-desc">PS 5</span></td>
                        <td><span class="product-qty">1</span></td>
                        <td><span class="product-price">$200.00</span></td>
                      </tr>
                      <tr>
                        <td><img class="product-img" src="/static/images/toaster.avif" alt="" srcset=""></td>
                        <td><span class="product-desc">Toaster</span></td>
                        <td><span class="product-qty">1</span></td>
                        <td><span class="product-price">$10.00</span></td>
                      </tr>
                </tbody>
                
                <tfoot>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><span class="total">Total</span></td>
                      <td><span>$230.00</span></td>
                    </tr>
                  </tfoot>
              </table>
            
            
            
            
            
            <!-- <img class="product-img" src="/static/images/chair.jpg" alt="" srcset="">
            <span class="product-desc">Swivel chair</span>
            <span class="product-qty">1</span>
            <span class="product-price">$47.00</span>
            <hr>
            <img class="product-img" src="/static/images/chair.jpg" alt="" srcset="">
            <span class="product-desc">Swivel chair</span>
            <span class="product-qty">1</span>
            <span class="product-price">$47.00</span>
            <hr> -->

            <!-- <div class="order-total">
                <span class="subtotal">Subtotal</span>
                <span class="subtotal-price">$47.00</span><br>
                <span class="total">Total</span>
                <span class="total">$47.00</span>
            </div> -->
        </div>
    </div>
    
</body>
</html>